<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render 'userinfo', user: @user, book: @book_new%>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table table-borderd">
        <td><span>
          <%= link_to user_path(@book.user_id) do %>
          <div><%= image_tag @book.user.get_profile_image(100,100) %></div>
          <div><%= @book.user.name %></div><% end %>
        </span></td>

        <td><span><%= @book.title %></span></td>
        <td><span><%= @book.body %></span></td>

        <td>
          <% if @book.favorited_by?(current_user) %>
            <p><%= link_to book_favorites_path(@book), method: :delete do %>
            <i class="fas fa-heart", style="color:red;"></i>
            <font color="red"><%= @book.favorites.count %></font>
            <%end%></p>
          <% else %>
            <p><%= link_to book_favorites_path(@book), method: :post do %>
            <i class="fas fa-heart",style="color: blue;"></i>
            <font color="blue"><%= @book.favorites.count %></font>
            <%end%></p>
          <% end %>

        </td>



        <td><span>コメント数：<%= @book.book_comments.count %></span></td>
        <% if @book.user == current_user %>
          <td><%=link_to "Edit", edit_book_path(@book.id) ,class:"btn btn-success" %></td>
          <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？",class:"btn btn-danger"%></td>
        <% end %>
      </table>

      <div>
        <% @book.book_comments.each do |book_comment| %>
        <div class="row">
          <%= link_to user_path(book_comment.user.id) do%>
            <div><%= image_tag book_comment.user.get_profile_image(60,60) %></div>
            <div><%= book_comment.user.name %></div><%end%>

          <span><%= book_comment.comment %></span>

          <% if book_comment.user_id == current_user.id %>
            <span><%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete ,class:"btn btn-sm btn-danger"%></span>
          <% end %>
        </div>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@book, @book_comment] do |f| %>
          <div><%= f.text_area :comment, rows: '4' ,class:"w-100"%>
          <div><%= f.submit "送信"%></div>
        <% end %>
      </div>

    </div>
  </div>
</div>
